.btn-blue {
	background-color: #DEA057;
	padding: 30px 30px;
	border-radius: 5px;
	color: white;
	font-weight: bold;
	font-family: 'Times New Roman', serif;
	color: white;
	align-items: center;
	text-align: center;
	width: 120px;
}