.cards{
	display: flex;
	flex-wrap: wrap;
	color: #54BAB9;
}


.card {
	padding: 10px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.5);
	border-radius: 10px;
	align-content: center;
	margin: 20px 30px;
}

.card img {
	width: 180px;
	border-radius: 15px;
}

.card h3 {
	flex-grow: 1;
	padding: 30px;
	font-size: 30px;
	align-content: center;
}